<div id="theFamilyList">
  {{#each family}}
  <div>
    <h3>{{name}}</h3>
    {{memberName}}   |   {{memberAge}}   |   {{memberGender}}   |   {{memberSkills}}
  <button id='deleteButton'>Delete</button>
  </div>
  {{/each}}
</div>